html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Raleway-Medium";
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("fonts/Raleway-Medium.ttf");
}

/*Start Header*/
h1 {
  font-size: 1rem;
  margin-left: 100px;
  margin-top: 25px;
}

p { /*En plein centre*/
  margin-left: 100px;
  font-size: 0.9rem;
  line-height: 0.1;
}

.reservia{
  flex: auto;
  display: flex;
  padding: 0px;
  margin-left: 100px;
  margin-top: 50px;
  height: 50px;
  width: 50px;
}

/*Start Navigation*/
nav ul {
  list-style-type: none;
  display: flex;
  float: right;
  margin-right: 100px;
  margin-top: 0px;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-size: 0.9em;
  color: #181818;
  text-decoration: none;
  padding: 1rem;
  padding-top: 3rem;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid#0065FC;
}
.sinscrire{
  color: #0065fc;
}
/*End Navigation*/

/*Start Champ de recherche*/
#pseudo::placeholder {
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

.champ {
  margin-top: 10px;
  height: 25px;
  width: 150px;
}

input{
  border-color: #F2F2F2;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: none;
  border-left: none;
}

.bouton {
  margin-top: 10px;
  height: 30px;
  width: 100px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-radius: 10px;
  float: right;
  margin-right: 1540px;
  color: white;
  background-color: #0065fc;
}
/*End Champ de recherche*/

/*TEST Champ de recherche*/
.search_bloc {
  margin-left: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
i.fas.fa-map-marker-alt {
  background-color: #F2F2F2;
  padding: 16px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 20px;
}

input{
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-right: none;
  border-left: none;
}

button {
  background-color: #0065FC;
  color: white;
  border-color: #0065FC;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 13px;
  font-weight: lighter;
  width: 100px;
}
/*TEST Champ de recherche*/


/*Start Filtres*/
h2
{
  float: left;
  margin-left:100px;
  margin-top: 0px;
  font-size: 1em;
}
.filters_list
{
  list-style-type: none;
  display: flex;
  margin-left: 130px;
  margin-top: 20px;
}

.space_objet_word
{
  text-decoration: none; color: #181818; border: 2px solid; border-color: #f2f2f2; padding: 8px;
  font-size: 0.9rem;
  border-left: none;
  padding-right: 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

i.fas.fa-money-bill-wave, i.fas.fa-child, i.fas.fa-heart, i.fas.fa-dog {
  border-radius: 50px;
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 15px;
  padding-top: 8px;
  padding-right: 22px;
  padding-bottom: 10px;
}
/*End Filtres*/

/*Start info*/
.infos {
  display: flex;
  align-items: center;
  margin: 0;
}
.p2{
  line-height: 2.5em;
}
/*end info*/
/*End Header*/

/*Start Section*/
.item {
  border-radius: 20px;
}

.hébergement {
  display: inline-block;
  background-color: #f2f2f2;
  margin-left: 100px;
  height: 550px;
  width: 1070px;
}

.texte_hébergements
{
  padding-left: 50px;
  padding-top: 20px;
}

.populaires {
  display: inline-block;
  background-color: #f2f2f2;
  margin-right: 100px;
  margin-left: 100px;
  height: 550px;
  width: 520px;
}

.activités {
  border: 2px black solid;
  height: 400px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
}
/*End Section*/

/*Start Footer*/
.conteneurfooter {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  height: 150px;
}
/*End Footer*