html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Raleway-Medium";
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("fonts/Raleway-Medium.ttf");
}

/*Start Navigation et logo*/

.reservia {
  display: flex;
  flex: auto;
  height: 50px;
}
.reservia_img {
  height: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25px;
}

nav a {
  font-size: 0.9em;
  color: #181818;
  text-decoration: none;
  padding: 2.5rem;
}

nav a:hover {
  color: #0065fc;
  border-top: 2px solid#0065FC;
}
.sinscrire {
  color: #0065fc;
  margin-left: 30px;
}
/*End Navigation et logo*/

/*Start Header*/
.principal_flex_header {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.title_principal {
  font-size: 1.2rem;
  font-weight: 700;
}

.p1 {
  /*En plein centre*/
  font-size: 0.9rem;
  margin-top: 0;
}

/* Start Champ de recherche*/
.search_bloc {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
i.fas.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 16px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 15px;
}

input {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: none;
  border-left: none;
}

button {
  background-color: #0065fc;
  color: white;
  border-color: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 13px;
  font-weight: lighter;
  width: 100px;
}

i.fas.fa-search {
  display: none;
}
/*End Champ de recherche*/

/*Start Filtre*/

h2 {
  float: left;
  margin-top: 0px;
  font-size: 1em;
}
.filter {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.filters_list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.elements.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #f2f2f2 solid 2px;
  margin-right: 10px;
  border-radius: 20px;
  border-left: none;
}

.fas.fa a:hover,
.elements.flex a:hover {
  background-color: #deebff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.space_objet_word {
  text-decoration: none;
  color: #181818;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 700;
}

i.fas.fa-money-bill-wave,
i.fas.fa-child,
i.fas.fa-heart,
i.fas.fa-dog {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  border-radius: 50px;
  color: #0065fc;
  background-color: #deebff;
  height: 40px;
  width: 40px;
}
/*End Filtre*/

/*Start info*/
.infos {
  display: flex;
  align-items: center;
  margin: 0;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  font-size: x-small;
  color: #0065fc;
  border: #f2f2f2 solid 2px;
}
.p2 {
  padding-left: 10px;
  line-height: 1em;
  font-size: 0.875em;
}
/*end info*/
/*End Header*/

/*Start Section*/
#Section_hostel {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 5%;
  margin-left: 5%;
}
/*Start Section 1*/
.Section_hostel_left {
  background-color: #f2f2f2;
  margin-right: 5%;
  border-radius: 20px;
  width: 60%;
  min-width: 650px;
  height: 550px;
}
.title_hebergements {
  margin-top: 30px;
  margin-left: 35px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.1em;
}

.bloc_white_hebergement_top {
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  grid-auto-rows: repeat(2, 1fr);
}

.photo_section_1 {
  height: 60%;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}
.figure_cannebière {
  background-color: white;
  border-radius: 10px;
  height: 175px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  grid-column: 1/1;
  grid-row: 1/3;
}

.figure_port {
  background-color: white;
  border-radius: 10px;
  height: 175px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  grid-column: 2;
  grid-row: 1 / 3;
}
.figure_mouettes {
  background-color: white;
  border-radius: 10px;
  height: 175px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  grid-column: 3;
  grid-row: 1/3;
}
.figure_mer {
  background-color: white;
  border-radius: 10px;
  height: 175px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  grid-column: 1/1;
  grid-row: 3 / 5;
}
.figure_panier {
  background-color: white;
  border-radius: 10px;
  height: 175px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  grid-column: 2;
  grid-row: 3/5;
}

.figure_amina {
  background-color: white;
  border-radius: 10px;
  height: 175px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  grid-column: 3;
  grid-row: 3/5;
}

.text_card {
  margin-left: 15px;
}
.name_hostel {
  font-size: 13px;
  font-weight: 700;
}
.light_text {
  font-size: 10px;
}
.prices {
  font-size: 12px;
  font-weight: 700;
}
.symbol {
  font-size: 12px;
  font-weight: 700;
}
.fas.fa-star {
  color: #0065fc;
  font-size: smaller;
  font-weight: 900;
}
.fas.fa-star.grey_star {
  color: #deebff;
  font-size: smaller;
  font-weight: 900;
}
.title_afficher-plus {
  margin-left: 35px;
  font-weight: 700;
  font-size: 0.9em;
}
/*End Section 1*/

/*Start Section 2*/
.Section_hostel_right {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-between;
  max-height: 550px;
  width: 35%;
  min-width: 280px;
  background-color: #f2f2f2;
  border-radius: 20px;
  gap: 3px;
}
.text_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.title_populaires {
  font-size: 1.1em;
  font-weight: 700;
}

.figure_Section_hostel_right {
  height: 130px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px 0 5px 5px;
}

.photo_article_2 {
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 35%;
  object-fit: cover;
  margin-right: 15px;
}
.text_card_article_2 {
}

.name_hostel_article_2 {
  font-size: 13px;
  font-weight: 700;
}
.light_text_article_2 {
  font-size: 10px;
}
.prices_article_2 {
  font-size: 12px;
  font-weight: 700;
}
.symbol_article_2 {
  font-size: 12px;
  font-weight: 700;
}
/*End Section 2*/

/*Start Section 3*/
#section_3 {
  margin-top: 50px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 80px;
}

.title_activites {
  font-size: 1.1em;
  margin-bottom: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.photo_section_3 {
  width: 100%;
  height: 430px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}
.photo_small_section_3 {
  width: 100%;
  height: 170px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}
.text_long_card_section_3 {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 700;
}

.text_small_card_section_3 {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 700;
}

.one {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 1;
  grid-row: 1/5;
}
.two {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 2;
  grid-row: 1 / 3;
}
.three {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 2;
  grid-row: 3 / 5;
}
.four {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 3;
  grid-row: 1/5;
}
.five {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 4;
  grid-row: 1/3;
}
.six {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 4;
  grid-row: 3/5;
}
/*End Section 3*/
/*End Section*/

/*Start Footer*/
.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 5rem;
  background-color: #f2f2f2;
}
ul {
}
.footer_element--bold {
  font-weight: bolder;
  width: 100%;
}
.title a,
.footer_element a,
.title,
.footer_element {
  color: black;
  text-decoration: none;
  margin: inherit;
  width: 100%;
}
li {
  list-style: none;
  display: list-item;
}
/*End Footer*/
