/*Start Navigation et logo*/
.logo {
  position: absolute;
  margin-left: 3%;
  top: 10px;
  left: 20px;
}

.element_accomodation {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
}

.element_accomodation:hover {
  border-bottom: 2px solid#0065FC;
  padding-bottom: 20px;
  width: 50%;
}
.element_activities {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
}
.anchor:hover {
  border-bottom: 2px solid#0065FC;
  padding-bottom: 20px;
  width: 50%;
}

.navigation {
  flex-direction: row;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.login {
  position: absolute;
  top: 29px;
  right: 30px;
  font-weight: bolder;
  padding: 0;
}

nav a:hover {
  border-top: none;
}
/*End Navigation et logo*/

/*start filtres*/
.filters {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.filters_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.elements_flex {
  margin-top: 10px;
}
/*end filtres*/

/*start info*/
.info {
  margin-top: 20px;
}
/*end info*/

/*Start Section*/
#blocs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;
  gap: 50px;
}

/*start section 1*/
.bloc_accomodation {
  order: 2;
  background-color: white;
  width: 100%;
  height: auto;
}
.title_accomodation {
  margin-left: 5%;
  font-size: 1.3em;
}
.marseille_cases {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 35px;
  gap: 20px;
}

.photo_section_1 {
  height: 80%;
}

.figure_cannebière {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.figure_port {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.figure_mouettes {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.figure_mer {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.figure_panier {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}

.figure_amina {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.text_show_more {
  margin-left: 5%;
  font-size: 1.1em;
}
/*end section 1*/

/*start section 2*/
.bloc_most_popular {
  order: 1;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 0;
  width: 100%;
  height: 550px;
  gap: 15px;
}

.popular_all-rooms {
  background-color: white;
  margin-right: 5%;
  margin-left: 5%;
}

.title_populaires {
  font-size: 1.3em;
}

.fas.fa-chart-line {
  font-size: 20px;
}
/*end section 2*/

/*start section 3*/
.title_activities {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.activities_all_card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  gap: 40px;
}
.img_activity_long_card {
  width: 100%;
  height: 350px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}
.img_activity_small_card {
  width: 100%;
  height: 350px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.text_activity_long_card {
  margin-bottom: 25px;
}

.text_activity_small_card {
  margin-bottom: 25px;
}
.activity_1 {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
}
.activity_2 {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 2;
  grid-row: 1 / 3;
}
.activity_3 {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 2;
  grid-row: 3 / 5;
}
.activity_4 {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 3;
  grid-row: 1/5;
}
.activity_5 {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 4;
  grid-row: 1/3;
}
.activity_6 {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 4;
  grid-row: 3/5;
}
/*End section 3*/
/*End Section*/

/*Start Footer*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
}
.menu_endpage {
  padding-left: 0;
}
/*End Footer*/
