/*Start Navigation et logo*/
.reservia {
  position: absolute;
  margin: 0;
  top: 10px;
  left: 20px;
}

.element_accomodation {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
}

.element_accomodation a:hover {
  border-bottom: 2px solid#0065FC;
  padding-bottom: 20px;
}
.element_activities {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
}
.element_activities a:hover {
  border-bottom: 2px solid#0065FC;
  padding-bottom: 20px;
}

.navigation {
  flex-direction: row;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.sinscrire {
  position: absolute;
  top: 29px;
  right: 30px;
  font-weight: bolder;
  padding: 0;
}

nav a:hover {
  border-top: none;
}
/*End Navigation et logo*/

/*start filtre*/
.filter {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.filters_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.elements.flex {
  margin-top: 10px;
}
/*end filtre*/

/*start info*/
.infos {
  margin-top: 20px;
}
/*end info*/

/*Start Section*/
#Section_hostel {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;
  gap: 50px;
}

/*start section 1*/
.Section_hostel_left {
  order: 2;
  background-color: white;
  width: 100%;
  height: auto;
}

.bloc_white_hebergement_top {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 35px;
}
.title_hebergements {
  margin-left: 5%;
  font-size: 1.3em;
}
.photo_section_1 {
  height: 80%;
}

.figure_cannebière {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.figure_port {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.figure_mouettes {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.figure_mer {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.figure_panier {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}

.figure_amina {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  height: 350px;
}
.title_afficher-plus {
  margin-left: 5%;
  font-size: 1.1em;
}
/*end section 1*/

/*start section 2*/
.Section_hostel_right {
  order: 1;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 0;
  width: 100%;
  height: 550px;
  gap: 15px;
}

.figure_Section_hostel_right {
  background-color: white;
  margin-right: 5%;
  margin-left: 5%;
}

.title_populaires {
  font-size: 1.3em;
}

.fas.fa-chart-line {
  font-size: 20px;
}
/*end section 2*/

/*start section 3*/
.title_activites {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  gap: 40px;
}
.photo_section_3 {
  width: 100%;
  height: 350px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}
.photo_small_section_3 {
  width: 100%;
  height: 350px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.text_long_card_section_3 {
  margin-bottom: 25px;
}

.text_small_card_section_3 {
  margin-bottom: 25px;
}
.one {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
}
.two {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 2;
  grid-row: 1 / 3;
}
.three {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 2;
  grid-row: 3 / 5;
}
.four {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 3;
  grid-row: 1/5;
}
.five {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 4;
  grid-row: 1/3;
}
.six {
  box-shadow: 5px 5px 10px rgb(120, 118, 118);
  border-radius: 20px;
  background-color: white;
  grid-column: 4;
  grid-row: 3/5;
}
/*End section 3*/
/*End Section*/

/*Start Footer*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
}
.menu_endpage {
  padding-left: 0;
}
/*End Footer*/
